@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Gowun+Dodum&family=Noto+Sans+KR:wght@300;500&family=Orbitron&family=Rajdhani:wght@300&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img, fieldset, iframe {
  border: 0;
}

img {
  max-width: 100%;
}

li img, dd img {
  vertical-align: top;
}

input {
  vertical-align: middle;
}

hr {
  display: none;
}

hr, caption {
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 1px;
  visibility: hidden;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

label {
  cursor: pointer;
}

button {
  outline: none;
  border: 0;
  background: 0;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
}

.body { /* scroll-behavior: smooth; */
  background-color: rgba(255, 235, 224, 0.532);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #ccc;
}

::-webkit-scrollbar-thumb {
  background: #ffd8d9;
  border-radius: 10px;
}

::selection {
  color: #fff;
  background: #eb1f48;
}

#fp-nav ul li, .fp-slidesNav ul li {
  margin: 10px 7px;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: 30px;
}

#fp-nav ul li .fp-tooltip {
  font: bold 16px/1 "Rajdhani", sans-serif;
  color: orange;
}

#fp-nav ul li a span {
  transform: scale(1.4);
  background: orangered;
}

#skip_navi a {
  position: fixed;
  top: -999px;
  left: 0;
  width: 100%;
  padding: 18px 0;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #ff4400;
  z-index: 20;
}
#skip_navi a:focus {
  top: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  z-index: 19;
}
header.on {
  background-color: rgba(255, 68, 0, 0.552);
}
header .logo {
  width: 150px;
}
header nav {
  display: flex;
  color: #fff;
}
header nav a {
  display: block;
  margin-right: 25px;
  padding: 7px;
  font: 600 25px/1 "Gowun Dodum", sans-serif;
}
header nav a:last-child {
  margin-right: 0;
}

section {
  width: 100%;
  height: 100vh;
}
section .inner {
  height: 100%;
  padding: 4rem;
}
section#main {
  background: url(../images/sky.png) no-repeat center/cover;
}
section#main .inner {
  position: relative;
  padding: 0;
}
section#main .inner .tit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font: 2.5rem/1.5 "Gowun Dodum", sans-serif;
  text-align: center;
}
section#main .inner .tit b {
  margin-right: 0.5rem;
  font-size: 4.5rem;
  color: #e5474b;
}
section#main .inner .tit .emogi {
  display: inline-block;
  font-size: 6rem;
  animation: shake 1.2s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
section#about .inner .tit {
  margin-top: 4rem;
}
section#about .inner .tit h2 {
  font: 8rem/1 "Carter One", sans-serif;
  color: #ff5900;
}
section#about .inner .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(15%);
}
section#about .inner .profile .visual figure {
  overflow: hidden;
  width: 100%;
  max-width: 40rem;
  height: 100%;
  max-height: 51rem;
  margin-right: 6rem;
  border-radius: 2rem;
  box-shadow: 3px 7px 10px 3px hsla(21, 100%, 50%, 0.314);
}
section#about .inner .profile .text {
  width: 100%;
  max-width: 60rem;
}
section#about .inner .profile .text p {
  word-break: keep-all;
  font: 2.4rem/2 "Noto Sans KR", sans-serif;
  color: #1a1b1c;
}
section#about .inner .profile .text p + p {
  margin-top: 2rem;
}
section#about .inner .profile .text .link {
  margin-top: 4rem;
}
section#about .inner .profile .text .link div span {
  margin-right: 1rem;
  font: bold 1.8rem/1 "Rajdhani", sans-serif;
  color: #ff5900;
}
section#about .inner .profile .text .link div a {
  color: #aaa;
}
section#about .inner .profile .text .link div + div {
  margin-top: 2rem;
}
section#skill .inner .tit {
  margin-top: 4rem;
}
section#skill .inner .tit h2 {
  font: 8rem/1 "Carter One", sans-serif;
  color: #ff5900;
}
section#skill .inner .skill_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 160rem;
  margin-top: 14rem;
}
section#skill .inner .skill_box li {
  width: calc((100% - 16rem) / 5);
  margin-right: 4rem;
  padding: 2rem;
  font: 1.6rem/2.5 "Orbitron", sans-serif;
  color: #1a1b1c;
  background-color: #fff0d0;
  box-shadow: 3px 7px 10px 3px hsla(21, 100%, 50%, 0.314);
  border-radius: 2rem;
}
section#skill .inner .skill_box li:nth-last-child(1) {
  margin-right: 0;
}
section#skill .inner .skill_box li i {
  margin-right: 0.5rem;
  font-size: 2rem;
}
section#skill .inner .skill_box li strong {
  color: #222;
}
section#skill .inner .skill_box li p {
  margin-top: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
section#portfolio {
  background-color: hwb(40 88% 0%/0.557);
}
section#portfolio .inner .tit {
  margin-top: 4rem;
}
section#portfolio .inner .tit h2 {
  font: 8rem/1 "Carter One", sans-serif;
  color: #ff5900;
}
section#portfolio .inner .item_cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
  margin-top: 8rem;
}
section#portfolio .inner .item_cont li {
  width: calc((100% - 8rem) / 3);
}
section#portfolio .inner .item_cont li:hover .hover {
  opacity: 0.9;
}
section#portfolio .inner .item_cont li a {
  overflow: hidden;
  position: relative;
  display: block;
  padding: 4rem;
  color: #1a1b1c;
  background-color: #fff;
  border-radius: 2rem;
  cursor: pointer;
}
section#portfolio .inner .item_cont li a figure img {
  display: block;
  transition: all 0.3s;
}
section#portfolio .inner .item_cont li a .hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(46, 46, 46, 0.8823529412);
  transition: all 0.3s;
}
section#portfolio .inner .item_cont li a .hover .item_inner h4 {
  margin-bottom: 3rem;
  font: bold 2.6rem/1 "Noto Sans KR", sans-serif;
}
section#portfolio .inner .item_cont li a .hover .item_inner h4 span {
  display: block;
  font: normal 1.8rem/1 "Noto Sans KR", sans-serif;
  margin-bottom: 1rem;
}
section#portfolio .inner .item_cont .txt {
  margin-top: 2rem;
  font: 1.8rem/1 "Noto Sans KR", sans-serif;
  text-align: center;
  color: rgba(46, 46, 46, 0.8823529412);
}
section#portfolio .inner .btn {
  margin-top: 8rem;
  text-align: center;
}
section#portfolio .inner .btn a {
  display: inline-block;
  padding: 2rem 4rem;
  font: bold 2rem/1 "Rajdhani", sans-serif;
  color: #fff;
  background-color: #ff5900;
  border-radius: 10px;
  transition: all 0.3s ease;
}
section#portfolio .inner .btn a:hover {
  background-color: orangered;
  box-shadow: 0 2px 25px rgba(255, 95, 37, 0.653);
}

.sub section#portfolio {
  height: 100%;
}
.sub section#portfolio .inner .tit {
  position: static;
}
.sub section#portfolio .inner .port_box {
  margin-top: 8rem;
}
.sub section#portfolio .inner .port_box > .tit h3 {
  display: inline-block;
  padding: 0.7rem 0.5rem;
  font: 2.8rem/1 "Noto Sans KR", sans-serif;
  border-top: 2px solid #ff5900;
  border-bottom: 2px solid #ff5900;
}
.sub section#portfolio .inner .port_box .item_cont {
  margin-top: 4rem;
}
.sub section#portfolio .inner .port_box .item_cont li {
  margin-bottom: 4rem;
}
.sub section#portfolio .inner .port_box .item_cont li .hover .item_inner h5 {
  margin-bottom: 3rem;
  font: bold 2.6rem/1 "Noto Sans KR", sans-serif;
}
.sub section#portfolio .inner .port_box .item_cont li .hover .item_inner h5 span {
  display: block;
  font: normal 1.8rem/1 "Noto Sans KR", sans-serif;
  margin-bottom: 1rem;
}
.sub section#portfolio .inner .port_box .pj {
  margin-top: 6rem;
}
.sub section#portfolio .inner .port_box .pj + .pj {
  margin-top: 12rem;
}
.sub section#portfolio .inner .port_box .pj .tit h4 {
  display: inline-block;
  font: 2.4rem/1 "Noto Sans KR", sans-serif;
}
.sub section#portfolio .inner .port_box .pj .tit h4 i {
  color: #ff5900;
}
.sub section#portfolio .inner .port_box .pj .item_cont li .hover .item_inner h5 {
  margin-bottom: 3rem;
  font: bold 2.6rem/1 "Noto Sans KR", sans-serif;
}
.sub section#portfolio .inner .port_box .pj .item_cont li .hover .item_inner h5 span {
  display: block;
  font: normal 1.8rem/1 "Noto Sans KR", sans-serif;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  section#portfolio .inner .port_box .item_cont {
    flex-wrap: wrap;
    max-width: 1000px;
  }
  section#portfolio .inner .port_box .item_cont li {
    width: calc((100% - 4rem) / 2);
  }
  .sub section#portfolio .inner > .tit {
    margin-top: 0;
  }
  .sub section#portfolio .inner > .tit h2 {
    font-size: 4rem;
  }
  .sub section#portfolio .inner .port_box {
    margin-top: 0;
  }
  .sub section#portfolio .inner .port_box .tit h3 {
    font-size: 1.8rem;
  }
  .sub section#portfolio .inner .port_box .pj {
    margin-top: 0;
  }
  .sub section#portfolio .inner .port_box .pj .tit h4 {
    font-size: 1.6rem;
  }
  .sub section#portfolio .inner .port_box .pj .item_cont {
    margin-top: 2rem;
  }
  .sub section#portfolio .inner .port_box .pj + .pj {
    margin-top: 0;
  }
}
@media screen and (max-width: 640px) {
  section#portfolio .inner .port_box .item_cont {
    flex-flow: column;
    max-width: 600px;
  }
  section#portfolio .inner .port_box .item_cont li {
    width: 100%;
  }
  .sub section#portfolio .inner {
    padding: 2rem;
  }
}
section#contact {
  height: auto !important;
  padding: 0 !important;
  text-align: center;
  background-color: rgba(255, 68, 0, 0.552);
}
section#contact .fp-tableCell {
  padding: 4rem;
  height: auto !important;
}
section#contact h4 {
  font: 24px/2 "Gowun Dodum", sans-serif;
  color: #fff;
}
section#contact .mail {
  display: inline-block;
  margin-top: 30px;
  font: 20px/2 "Rajdhani", sans-serif;
  color: #fff;
}

#top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  transition: all 0.6s;
  z-index: 99;
}
#top a {
  display: block;
}
#top a img {
  width: 100%;
  height: 100%;
}
#top#top:hover {
  transform: rotate(200deg);
  transform-origin: 25px 27px;
}
#top#top.on {
  right: 3%;
  opacity: 1;
}

html {
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
