//반응형
$web : 1200px;
$mobile : 640px;

// style 변수지정
$inner : 4rem;
$txt : #1a1b1c;

@mixin tit {
	margin-top: 4rem;

	h2 {
		font: 8rem/1 'Carter One', sans-serif;
		color: #ff5900;
	}
}

@mixin tit_mo {
	margin-top: 4rem;

	h2 {
		font: 4rem/1 'Carter One', sans-serif;
		color: #ff5900;
	}
}


@mixin hoverTxt {
	margin-bottom: 3rem;
	font: bold 2.6rem/1 'Noto Sans KR', sans-serif;

	span {
		display: block;
		font: normal 1.8rem/1 'Noto Sans KR', sans-serif;
		;
		margin-bottom: 1rem;
	}
}


section {
	width: 100%;
	height: 100vh;

	.inner {
		height: 100%;
		padding: $inner;

		.tit {
			@include tit;
		}
	}

	&#main {

		background: url(../images/sky.png) no-repeat center / cover;

		.inner {
			position: relative;
			padding: 0;

			.tit {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				margin-top: 0;
				text-align: center;

				h2 {
					font: 4.5rem/1.5 'Gowun Dodum', sans-serif;

					b {
						margin-right: 0.5rem;
						font-size: 5.5rem;
						color: #e5474b;
					}
				}

				.emogi {
					display: inline-block;
					font-size: 6rem;
					animation: shake 1.2s infinite;
				}

				@keyframes shake {
					0% {
						transform: rotate(20deg);
					}

					50% {
						transform: rotate(30deg)
					}

					100% {
						transform: rotate(20deg);
					}
				}
			}
		}
	}

	&#about {

		.inner {

			// .tit {
			// 	@include tit;
			// }

			.profile {
				display: flex;
				justify-content: center;
				align-items: center;
				transform: translateY(15%);

				.visual {

					figure {
						overflow: hidden;
						width: 100%;
						max-width: 40rem;
						height: 100%;
						max-height: 51rem;
						margin-right: 6rem;
						border-radius: 2rem;
						box-shadow: 3px 7px 10px 3px hsla(21, 100%, 50%, 0.314);
					}
				}

				.text {
					width: 100%;
					max-width: 60rem;

					p {
						word-break: keep-all;
						font: 2.4rem/2 'Noto Sans KR', sans-serif;
						color: $txt;

						&+p {
							margin-top: 2rem;
						}
					}

					.link {
						margin-top: 4rem;

						div {
							span {
								margin-right: 1rem;
								font: bold 2rem/1 'Rajdhani', sans-serif;
								color: #ff5900;
							}

							a {
								color: #aaa;
								font-size: 1.8rem;
							}

							&+div {
								margin-top: 2rem;
							}
						}
					}
				}
			}
		}
	}

	&#skill {
		.inner {

			// .tit {
			// 	@include tit;
			// }

			.skill_box {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				max-width: 160rem;
				margin-top: 14rem;

				li {
					width: calc((100% - 16rem)/5);
					margin-right: 4rem;
					padding: 2rem;
					font: 1.6rem/2.5 'Orbitron', sans-serif;
					color: $txt;
					background-color: #fff0d0;
					box-shadow: 3px 7px 10px 3px hsla(21, 100%, 50%, 0.314);
					border-radius: 2rem;

					&:nth-last-child(1) {
						margin-right: 0;
					}

					i {
						margin-right: 0.5rem;
						font-size: 2rem;
					}

					strong {
						color: #222;
					}

					p {
						margin-top: 1.5rem;
						font-family: 'Noto Sans KR', sans-serif;
						;
						word-break: keep-all;
					}
				}
			}

		}
	}

	&#portfolio {
		background-color: hwb(40 88% 0% / 0.557);

		.inner {

			// .tit {
			// 	@include tit;
			// }

			.item_cont {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				width: 100%;
				max-width: 1600px;
				margin-top: 8rem;

				li {
					width: calc((100% - 8rem) / 3);

					&:hover .hover {
						opacity: 0.9;
					}

					a {
						overflow: hidden;
						position: relative;
						display: block;
						padding: $inner;
						color: $txt;
						background-color: #fff;
						border-radius: 2rem;
						cursor: pointer;

						figure {
							img {
								display: block;
								transition: all .3s;
							}
						}

						.hover {
							opacity: 0;
							position: absolute;
							top: 0;
							left: 0;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 100%;
							height: 100%;

							text-align: center;
							color: #fff;
							background-color: #2e2e2ee1;
							transition: all .3s;

							.item_inner {
								h4 {
									@include hoverTxt;
								}
							}
						}
					}
				}

				.txt {
					margin-top: 2rem;
					font: 1.8rem/1 'Noto Sans KR', sans-serif;
					text-align: center;
					color: #2e2e2ee1;
				}
			}

			.btn {
				margin-top: 8rem;
				text-align: center;

				a {
					display: inline-block;
					padding: 2rem 4rem;
					font: bold 2rem/1 'Rajdhani', sans-serif;
					;
					color: #fff;
					background-color: #ff5900;
					border-radius: 10px;
					transition: all 0.3s ease;

					&:hover {
						background-color: orangered;
						box-shadow: 0 2px 25px rgba(255, 95, 37, 0.653);
					}
				}
			}
		}
	}
}

// sub
.sub {
	section#portfolio {
		height: 100%;

		.inner {
			.tit {
				position: static;
			}

			.port_box {
				margin-top: 8rem;

				>.tit {

					h3 {
						display: inline-block;
						padding: 0.7rem 0.5rem;
						font: 2.8rem/1 'Noto Sans KR', sans-serif;
						border-top: 2px solid #ff5900;
						border-bottom: 2px solid #ff5900;
					}
				}

				.item_cont {
					margin-top: 4rem;

					li {
						margin-bottom: 4rem;

						.hover {
							.item_inner {
								h5 {
									@include hoverTxt;
								}
							}
						}
					}
				}

				.pj {
					margin-top: 6rem;

					&+.pj {
						margin-top: 12rem;
					}

					.tit {
						h4 {
							display: inline-block;
							font: 2.4rem/1 'Noto Sans KR', sans-serif;

							i {
								color: #ff5900;
							}
						}
					}
				}
			}
		}
	}
}

// 반응형
@media screen and (max-width: $web) {
	$inner: 2rem;

	section {
		height: 100%;

		.inner {
			padding: $inner;

			.tit {
				margin-top: 0;
				@include tit_mo;
			}
		}

		&#main {
			height: 100vh;

			.inner .tit {
				margin-top: 0;

				h2 {
					font-size: 3rem;

					b {
						font-size: 4rem;
					}
				}

				.emogi {
					font-size: 3rem;
				}
			}
		}

		&#about {
			.inner {
				.profile {
					flex-flow: column;
					margin-top: 7rem;
					transform: inherit;

					.visual figure {
						max-width: 23rem;
						max-height: 29rem;
						margin-right: 0;
					}

					.text {
						max-width: 60rem;
						margin-top: 4rem;
						text-align: center;

						p {
							font-size: 1.8rem;

							&+p {
								margin-top: 1rem;
							}
						}
					}
				}
			}
		}

		&#skill {

			.inner {
				.skill_box {
					flex-wrap: wrap;
					justify-content: space-between;
					margin-top: 7rem;
					max-width: 160rem;

					li {
						width: calc((100% - 4rem) / 2);
						margin-right: 0;
						margin-bottom: 4rem;

						&:nth-of-type(even) {
							margin-right: 0;
						}

						&:nth-last-of-type(1) {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		&#portfolio .inner {
			.item_cont {
				flex-wrap: wrap;
				max-width: 1000px;

				li {
					width: calc((100% - 4rem) / 2);
				}
			}
		}
	}


	.sub section#portfolio .inner {
		>.tit {
			margin-top: 0;
		}

		.port_box {
			margin-top: 0;

			.tit h3 {
				font-size: 1.8rem;
			}

			.pj {
				margin-top: 0;

				.tit {

					h4 {
						font-size: 1.6rem;
					}
				}

				.item_cont {
					margin-top: 2rem;
				}

				&+.pj {
					margin-top: 0;
				}
			}

		}
	}
}

@media screen and (max-width: $mobile) {
	section {

		&#skill {

			.inner {
				.skill_box {
					li {
						width: 100%;
					}
				}
			}
		}

		&#portfolio {
			.inner {

				.item_cont {
					flex-wrap: wrap;
					max-width: 60rem;
					margin-top: 0;

					li {
						width: 100%;
						margin: 4rem;
					}
				}

				.btn {
					margin: 4rem 0;
				}
			}
		}

		&#contact {
			padding: $inner;
		}
	}

	.sub section#portfolio .inner {
		padding: 2rem;
	}
}