//반응형
$web : 1200px;
$mobile : 640px;

#skip_navi a {
  position: fixed;
  top: -999px;
  left: 0;
  width: 100%;
  padding: 18px 0;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #ff4400;
  z-index: 20;

  &:focus {
    top: 0
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  z-index: 19;
  
  &.on {
    // background-color: rgba(255, 166, 0, 0.586);
    background-color: rgba(255, 68, 0, 0.552);
  }

  .logo {
    width: 150px;
  }

  nav {
    display: flex;
    color: #fff;

    a {
      display: block;
      margin-right: 25px;
      padding: 7px;
      font: 600 25px/1 'Gowun Dodum', sans-serif;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: $web) {
  header {
    position: absolute;
    padding: 10px 20px;
  }
}
@media screen and (max-width: $mobile) {
  header {
    nav {
      display: none;
    }
  }
}