html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,dfn,em,img,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,time,mark,audio,video{margin:0; padding:0;border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li { list-style:none; }
img,fieldset,iframe{border:0;}
img{max-width:100%; }
li img, dd img { vertical-align:top; }
input { vertical-align:middle; }
hr{display:none;}

hr, caption {width: 1px;height: 1px;font-size: 0;line-height: 1px;visibility: hidden;}

a, a:link, a:visited, a:hover, a:active { color:inherit;  text-decoration: none;}

table {width:100%; border-collapse:collapse;table-layout:fixed;}
caption {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
label {cursor:pointer;}

button {outline: none;border: 0;background: 0;}
.clearfix::before, .clearfix::after {content: ""; display: block; clear: both;line-height: 0;}


// basic style
.body {/* scroll-behavior: smooth; */background-color: rgba(255, 235, 224, 0.532);}

// scrollbar redesign
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 3px #ccc;}
::-webkit-scrollbar-thumb {background: #ffd8d9;border-radius: 10px;}
::selection {color: #fff;background: #eb1f48;}

// fullpage nav
#fp-nav ul li, .fp-slidesNav ul li {margin: 10px 7px;}
#fp-nav ul li .fp-tooltip.fp-right {right: 30px;}
#fp-nav ul li .fp-tooltip {font : bold 16px/1 'Rajdhani', sans-serif;color: orange;}
#fp-nav ul li a span {transform: scale(1.4);background: orangered;}

// font
// font-family: 'Carter One', cursive;
// font-family: 'Gowun Dodum', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Orbitron', sans-serif;
// font-family: 'Rajdhani', sans-serif;